/*Global styles*/

label {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
}

#email-address,
#password {
    color: #f6f2e3;
    font-size: 16px;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
}

#email-address:hover,
#email-address:focus,
#password:hover,
#password:focus {
    background-color: #00000063;
}

button {
    color: #f6f2e3;
    font-weight: bold;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 10px;
    background-color: transparent;
    transition: all 100ms ease-in-out;
}

button:hover {
    background-color: #00000063;
    cursor: pointer;
    transform: scale(1.2);
}

button:active {
    transform: translateZ(5px);
}

p {
    color: #f6f2e3;
    display: block;
    font-size: 16px;
    text-decoration: none;
}

p:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.5;
    transition: opacity 0.15s ease-out;
}

/*classNames styles*/

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-border {
    border: 1px solid #00000096;
    border-radius: 15px;
    margin: 2rem auto;
    width: 100%;
    max-width: 45rem;
    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2); 
}

.main-container {
    padding: 2rem;
}

.form-container {
    max-width: 30em;
    margin-right: auto;
    margin-left: auto;
}

#sign_up {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.links-container {
    line-height: 1.5;
    margin-top: 1rem;
}