.rank-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.name-container {
  font-size: 2.5rem;  
}

.number-container {
    font-size: 3.5rem;
}